@media (min-width: 1200px) {
    .container {
        max-width: 1260px;
    }
}

.leftCol {
    width: calc(100% - 390px);
}

.middleCol {
    width: 380px;
}

.sts {
    font-size: 16px;
    text-transform: none;
}

/* .itemupdate ul li h3 {
    max-width: 100%;
}

.itemupdate ul li h3 a {
    font-size: 16px;
    text-transform: none;
}

.itemupdate i {
    font-size: 12px;
}

.cover img {
    width: 101px;
    height: 141px;
}

.itemupdate ul{
    height: 100%;
}

.itemupdate ul li:nth-child(1) {
    margin-bottom: 12px;
} */

.banner-cus {
    display: none;
}

.info-top-chapter-text {
    display: none;
}

.info-top-chapter h2 {
    display: none;
}

.current-chapter{
    display: none;
}

.new_update_trangdoc{
    display: none;
}

.manga-info-content p {
    display: none;
}

.comments p, .comments h2 {
    display: none;
}

.container-chapter-reader {
    margin-bottom: 32px !important;
}

.container-chapter-reader + div {
    display: none;
}

.btn-navigation-chap .original {
    margin-left: 16px;
}

.manga-card {
    position: absolute;
    left: 10px;
    top: 10px;
    background: white;
    color: #003555;
    width: 400px;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 12px;
    gap: 12px;
    border: 1px solid #ff5c19;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
}

body.dark .manga-card {
    background: #3e3e3e!important;
    color: #e0e0e0;
    border: 2px solid #2a524a;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .3);
}

.manga-card .left-col, .manga-card .right-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.manga-card .cover {
    width: 120px;
    height: auto;
}

.manga-card .title {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
}

.manga-card .description {
    font-size: 14px;
    margin: 0;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.notification-header {
    display: none !important;
}

.notification-header.important {
    display: block !important;
}

.viewed p {
    line-clamp: 4 !important;
    -webkit-line-clamp: 4 !important;
}

.last-read-container {
    font-size: 16px;
    margin-bottom: 2px;
    color: #424242;
}

.last-read-container a {
    color: #059e9a;
}


.viewed-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #ff5b18;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    left: 12px;
    border: 2px solid white;
}

.done .viewed-icon {
    background: #059e9a;
}

.comment-item .comment-info {
    align-items: flex-start;
}

.comment-item .comment-des {
    margin-top: -24px;
    margin-bottom: 6px;
    padding-left: 58px;
    color: black;
}

.comment-item .comment-summary {
        padding-left: 58px;
}

.comment-replies {
    margin: 0;
}

.guest-only div {
    border-bottom: 0;
}

.comment-item .comment-info .title-comment .name {
    color: #656565;
}

.comment-item .comment-summary .summary-item span {
    color: #656565;
}

.itemupdate.ad {
    display: none !important;
    opacity: 0;
}

.owl-item.ad {
    display: none !important;
    opacity: 0;
}